name: Tests
on: [push, pull_request]
jobs:
  tests:
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, windows-latest, macos-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2.2.2
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install -U pip setuptools wheel --user
    - run: pip install -U nox
    - run: nox -s lint
    - run: nox -s tests-${{ matrix.python-version }} -- --slow --cov
    - run: nox -s build
